@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bulma/css/bulma.min.css";

body {
    margin-top: 4rem !important;
    padding-top: 4rem;
}

.navbar.is-top {
    z-index: 35;
    margin-bottom: 3rem;
}
